@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body,html {
   height: 100%;
}

header {
  width: 100%;
  height: 90px;
  background-color: #222222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  }

body .navheader {
  width: 30%;
  display: flex;
  float: right;
  margin: 2%;
  }

/*logo*/
.logo {
     max-width: 100%;

}

/*navegação*/
nav {
  
  align-items: center;
}

nav > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family: roboto;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}
nav > a:hover {
  color: #39b24a;
}

/*main*/
main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
}
main > .card {
  width: 98%;
  max-width: 98%;
  height: 78%;
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
}
.banner {
  width: 48%;
  max-width: 48%;
  height: 100%;
  background-image: url("../Pizza&Front/IMG/delivery.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  }
.texto_banner {
  font-family: roboto;
  font-size: 4vh;
  font-weight: bold;
}
.texto_banner > .red {
  color: #fc200c;
  font-weight: bolder;
}
.texto_banner > .whrite {
  color: #ffffff;
}

.cardapio {
  width: 48%;
  max-width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 20px;
}
.titulo {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  color: #fc200c;
  font-weight: bolder;
  font-family: roboto;
  font-weight: 100%;
  font-size: 100%;
}
.texto_image {
  width: 80%;
  max-width: 100%;
  height: 50%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto_image > .lista {
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: roboto;
}
.texto_image > .lista > h2 {
  font-weight: bolder;
  width: 50%;
  max-width: 50%;
}


.texto_image > .lista > ol  {
  width: 60%;
  max-width: 60%;
  justify-content: flex-start
}

.texto_image > .lista > ol > li {
  margin: 2%;
  width: 30%;
  max-width: 30%;
  font-weight: bold;
  justify-content: center;
  font-weight: 100%;
}
.texto_image > .box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*footer*/
.footer {
  width: 100%;
  height: 150px;
  background-color: #222222;
  position: fixed;

}

.navfooter  {
  display: flex;
  flex-direction: column;
  float: left;
  padding-top: 0.5%;
 
}

a {
  text-decoration: none; color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family: roboto;
}


footer  .imgfooter {
  max-width: 100%; 
  float: right;
  margin: 0.1%;
  padding: 0.3%;
    
}

